In [1]:
import pandas as pd
import numpy as np

In [2]:
#Ques1
print(pd.__version__)

1.4.4

In [3]:
#Ques2
df=pd.read_csv('laptops_data.csv')

In [4]:
records=len(df)
records

2160

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
#Ques3
brands=df['Brand'].unique()
print(brands)

['Asus' 'Alurin' 'MSI' 'HP' 'Lenovo' 'Medion' 'Acer' 'Apple' 'Razer'
 'Gigabyte' 'Dell' 'LG' 'Samsung' 'PcCom' 'Microsoft' 'Primux' 'Prixton'
 'Dynabook Toshiba' 'Thomson' 'Denver' 'Deep Gaming' 'Vant' 'Innjoo'
 'Jetwing' 'Millenium' 'Realme' 'Toshiba']

In [7]:
##Ques4
missing=df.isnull().sum()
missing

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [8]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [9]:
#Ques5
dell_price=df[df['Brand']=='Dell']

In [10]:
dell_max_price=dell_price['Final Price'].max()
dell_max_price

3936.0

In [11]:
#Ques6
initial_median = df['Screen'].median()
print(f"Initial median of Screen: {initial_median}")

Initial median of Screen: 15.6

In [12]:
most_frequent_value = df['Screen'].mode()[0]
print(f"Most frequent value (mode) of Screen: {most_frequent_value}")

Most frequent value (mode) of Screen: 15.6

In [13]:
df['Screen'].fillna(most_frequent_value, inplace=True)

In [14]:
new_median = df['Screen'].median()
print(f"New median of Screen after filling missing values: {new_median}")

New median of Screen after filling missing values: 15.6

In [15]:
#Ques7
innjoo_laptops = df[df['Brand'] == 'Innjoo']

In [16]:
X = innjoo_laptops[['RAM', 'Storage', 'Screen']].values

In [17]:
XTX = np.dot(X.T, X)

In [18]:
XTX_inv = np.linalg.inv(XTX)

In [19]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [20]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [21]:
w_sum = np.sum(w)
print(f"The sum of all elements of w is: {w_sum}")

The sum of all elements of w is: 91.29988062995815